<h1>Listing clips</h1>

<table>
  <tr>
    <th>Title</th>
    <th>ID</th>
    <th>Category</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clips.each do |clip| %>
  <tr>
    <td><%= clip.title %></td>
    <td><%= clip.id %></td>
    <td><%= link_to clip.category.name, clip.category %></td>
    <td><%= image_tag(clip.image.url(:thumb)) %></td>
    <td><%= link_to 'Show', clip %></td>
    <td><%= link_to 'Edit', edit_clip_path(clip) %></td>
    <td><%= link_to 'Destroy', clip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clip', new_clip_path %>
