<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @clip.title %>
</p>

<p>
  <b>Category:</b>
  <%= link_to @clip.category.name, @clip.category %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @clip.image.url(:medium) %>
  <%= image_tag @clip.image.url(:thumb) %>
</p>


<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>
